.DS_Store
.theos/
build/
theos/
vendor/x264/
vendor/ffmpeg-4.4.1/
vendor/ffmpeg-4.4.1.tar.xz
vendor/vendor-dl.log
tool/prefix/
tool/*.log
tool/gas-build/
cydia-repo/
.pio/
__pycache__/
.venv/
*.deb
*.ipa
