<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.quietriot.daemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/quietriotd</string>
		<string>--port</string>
		<string>8080</string>
		<string>--camera</string>
		<string>rear</string>
		<string>--logfile</string>
		<string>/var/mobile/Library/quietriot/daemon.log</string>
	</array>
	<!-- disabled by design: the NC widget (Start button) starts the daemon
	     process. To restore boot autostart, set RunAtLoad to true, add
	     <key>KeepAlive</key><true/>, then: launchctl load this file. -->
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/var/log/quietriotd.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/quietriotd.log</string>
</dict>
</plist>
